<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <title>Boolfix Clone</title>
</head>
<body>
    <div id="app" >
        <header class="d_flex">
            <a href=""><img src="./assets/img/boolflix.png" alt=""></a>
            <div class="search_box d_flex">
                <i class="fas fa-search"></i>
                <input type="text" v-model="searchUser" @keyup.13="searchFilms()">
            </div>
        </header>
        <main class="main_content" v-if="moviesArray.length > 0">
            <h2>Film</h2>
            <section class="movie_section scrollx d_flex">               
                <div class="movie_container card" v-for="movie in moviesArray">                   
                    <!-- condizone in cui manca l'immagine -->
                    <div class="error_box d_flex" v-if="movie.poster_path === null">
                        <h4 class="error_msg" >Immagine non trovata</h4>
                    </div>
                    <!-- /condizone in cui manca l'immagine --> 
                    <!-- risposta se l'immagine esiste nel database -->
                    <img src="" src="" v-else :src="`https://image.tmdb.org/t/p/w300/${movie.poster_path}`" alt=" poster img movie" class="img_card">
                    <!-- /risposta se l'immagine esiste nel database -->
                    <div class="movie_info">
                        <h4>{{movie.title}}</h4>
                    <div class="movie_title">
                        <span>titolo originale: {{movie.original_title}}</span>
                    </div>
                    <div class="movie_lang">
                        <p>Lingua originale: {{movie.original_language}}</p>
                        <!-- <img  :src="`https://www.countryflags.io/${movie.original_language}/shiny/64.png`" alt="">          -->
                    </div>
                    <div class="rating">
                        <span>voto: </span>
                        <i class="fas fa-star star" v-for="star in movie.vote_average"></i><i class="far fa-star" v-for="star in (5 - movie.vote_average)"></i>
                    </div>
                    <h3>Trama:</h3>
                    <p v-if="movie.overview === `` ">trama non disponibile</p>
                    <p v-else class="overview_text">{{movie.overview}}</p>                   
                    </div>
                </div>
            </section>
            <h2>Serie Tv</h2>
            <section class="tvshows_section scrollx d_flex">       
                <div class="serie_container card" v-for="serie in tvShows">
          
                    <div class="error_box d_flex" v-if="serie.poster_path === null">
                        <h4 class="error_msg">Immagine non trovata</h4>
                    </div>
                    <img v-else :src="`https://image.tmdb.org/t/p/w300/${serie.poster_path}`" alt="poster image tv shows" class="img_card">
                    <div class="serie_info">
                        <h4>{{serie.name}}</h4>
                    <div>
                        <span class="tv_title">titolo Originale: {{serie.original_name}}</span>
                    </div>
                    <div class="tv_lang">
                        <span>lingua originale: {{serie.original_language}}</span>

                    </div>
                    <div class="rating">
                        <span>voto: </span>
                        <i class="fas fa-star star" v-for="star in serie.vote_average"></i><i class="far fa-star" v-for="star in (5 - serie.vote_average)"></i>
                    </div>
                    <h3>Trama:</h3>
                    <p v-if="serie.overview === `` ">trama non disponibile</p>
                    <p v-else class="overview_text">{{serie.overview}}</p> 
                    </div>
                </div>
            </section>
        </main>
    </div>
    <!-- vue & js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
    <!-- /vue & js -->
</body>
</html>