/* general settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* /general settings */

/* utility classes */
.star{
    color: red;
}
/* /utility classes */
.movie_img, .tv_img{
    width: 200px;
    height: 300px;
}