/* general settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Martel Sans', sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: #d20404;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e93535;
}
::-webkit-scrollbar-thumb:active {
  background: #e90101;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/* /general settings */

/* utility classes */
.star{
    color: yellow;
}
.d_flex{
    display: flex;
    /* flex-wrap: wrap; */
}
.scrollx{
    overflow-x: scroll;
    box-shadow: inset -1px -10px 30px 0px rgb(73, 73, 73);
    scrollbar-color: dark;
}
.collapse_box{
    display: none;
}
/* /utility classes */
/* header */
header {
    height: 5rem;
    /* width: 100vw; */
    background-color: black;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
}
header img {
    width: 10rem;
    height: 3rem;
    margin-left: 10px;
}
header input {
    height: 1.8rem;
    margin-right: 20px;
}
header a {
    margin-top: 1rem;
}
/* search box */
.search_box {
    border: 1px solid white;
}
.search_box i {
    height: 100%;
    color: lightgray;
    align-self: center;
    height: 1.5rem;
    padding-top: 0.2rem;
    font-size: 1rem;
}
.search_box input {
    color: white;
    height: 1.5rem;
    border: none;
    padding-left: 1rem;
    width: 1rem;
    background-color: black;
    transition: 0.5s ease-in-out;

}
.search_box input:hover{
    width: 7rem;
    transition: 0.5s ease-in-out;

}
.search_box input:focus{
    outline: none;
    background-color: black;
 }
/* /search box */
/* /header */
/*video banner*/
.video_banner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.title{
    position: absolute;
    height: calc(100% - 2rem);
    width: 55rem;
    background-color: rgba(45, 44, 44, 0.577);

    margin-top: 2rem;
}
.title h1 {
    line-height: 30rem;
    color: white;
    text-align: center;
}
.video_banner video{
    display: block;
    margin: auto;
    width: 55rem;
    margin-top: 2rem;
}
/*/video banner*/
/* main */
body{
    background-color: rgb(15, 15, 15);
}
/* main content */
.main_content{
    color: white;
    padding-top: 5rem;
    background-color: rgb(15, 15, 15);
    position: relative;

}
.main_content h2 {
    margin: 10px;
}
/* /main content */
/* sections movie & tvshows */
.movie_section, .tvshows_section {
    height: 30rem;
}
/* /sections movie & tvshows */
/* error box */
.error_box{
    width: 17rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.error_box h4 {
    text-align: center;
    opacity: 0.1;
    font-size: 2rem;
    /* line-height: 100%; */
}
/* /error box */
/* card class */
.card {
    position: relative;
    width: 17rem;
    height: 84.6%;
    margin: 2rem 1rem;
    transition: 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    border: 1px solid white;
}
.img_card{
    width: 16rem;
    height: 25rem;
}
/* /card class */
/* info card & hover */
.movie_info, .serie_info{
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.687);
    padding: 1rem;
    /* padding: 1rem; */
}
.movie_info h4, .serie_info h4 {
    text-align: center;
    /* padding: 0.5rem; */
    text-transform: capitalize;
    text-transform: uppercase;
}
.movie_info:hover, .serie_info:hover{
    opacity: 1;
    /* transform: scale(1.1);
    transition: 0.2s ease-in-out;
    border: 1px solid white; */
}
.overview_text{
    position: relative;
    height: 7rem;
    overflow-y: scroll;
}
/* /info card & hover */

/* /main */